*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    font-family: serif;
    font-size: 18px;
    font-weight: bold;
}
form{
    width: 375px;
    padding: 10px;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;    
    row-gap: 5px;
    & input[type="submit"]{
        width: 150px;
        margin: 0 auto 10px;
    }
    & .form__coments{
        display: flex;
        flex-direction: column;
    }
}

input,
textarea{
    padding: 2px 0 0 5px;
    &:focus{
        outline: none
    }
}


.form__button,
.page__button{
    width: 150px;
    height: 30px;
    margin: 0 auto;
    border: none;
    padding: 5px 5px;
    border-radius: 8px;
    font-weight: bold;
    background-color: #12ed80;
    align-content: center;
}

/*PAGE STYLES*/

.page-container{
    position: relative;
    width: 375px;
    height: 600px;
    padding: 10px;
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    & .page__welcome{
        font-size: 20px;
        text-align: center;
        margin: 10px auto 15px;
        font-weight: bold;
    }
    & .page__study-level,
    .page__coment{
        margin-bottom: 10px;
    }
    & a:visited{
        color: unset;
    }

    & .page__button{
        position: absolute;
        bottom: 50px;
        right: 112.50px;
    }
}